/****** Object:  Table [dbo].[_Encounter_DIFF]    Script Date: 10/11/2012 1:39:23 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_Encounter_DIFF]') AND type in (N'U'))
DROP TABLE [dbo].[_Encounter_DIFF]
GO
/****** Object:  Table [dbo].[_Encounter_20050409]    Script Date: 10/11/2012 1:39:23 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_Encounter_20050409]') AND type in (N'U'))
DROP TABLE [dbo].[_Encounter_20050409]
GO
/****** Object:  Table [dbo].[_ClaimTransaction_DIFF]    Script Date: 10/11/2012 1:39:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_ClaimTransaction_DIFF]') AND type in (N'U'))
DROP TABLE [dbo].[_ClaimTransaction_DIFF]
GO
/****** Object:  Table [dbo].[_ClaimTransaction_20050409]    Script Date: 10/11/2012 1:39:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_ClaimTransaction_20050409]') AND type in (N'U'))
DROP TABLE [dbo].[_ClaimTransaction_20050409]
GO
/****** Object:  Table [dbo].[_Claim_With_ASN_BLL]    Script Date: 10/11/2012 1:39:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_Claim_With_ASN_BLL]') AND type in (N'U'))
DROP TABLE [dbo].[_Claim_With_ASN_BLL]
GO
/****** Object:  Table [dbo].[_Claim_DIFF]    Script Date: 10/11/2012 1:39:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_Claim_DIFF]') AND type in (N'U'))
DROP TABLE [dbo].[_Claim_DIFF]
GO
/****** Object:  Table [dbo].[_Claim_20050409]    Script Date: 10/11/2012 1:39:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_Claim_20050409]') AND type in (N'U'))
DROP TABLE [dbo].[_Claim_20050409]
GO
/****** Object:  Table [dbo].[_20100629_InsurancePolicy]    Script Date: 10/11/2012 1:39:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_20100629_InsurancePolicy]') AND type in (N'U'))
DROP TABLE [dbo].[_20100629_InsurancePolicy]
GO
